.navbar {
    margin-bottom: 0;

    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {

}

.navbar-nav li a:hover, .navbar-nav li.active a {

}

.navbar-default .navbar-toggle {

}

.mezera {
    margin: 100px 20px 0px 20px;
}

.panel {
    width: 100%;

    margin: 30px 0px 10px 00px;
}

.schopnosti {
    background-color: black;
    color: white;
}

table {
    margin: 10px 0 10px 0;

}

th {
    text-align: right;
    padding: 00px 20px 0px 0;
}